// Icons

.icon {
  display: inline-block;
  padding: 0;
  font-size: 0;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: none;
  outline: none;

  &:focus {
    outline: none;
  }

  &-search {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
    background-image: url(../img/icons/icon-search.svg);
  }
}

.btn-link,
.nav-link:not(.nav-link-icon) {
  .icon {
    margin-right: 8px;
    vertical-align: middle;
  }

  svg {
    margin-right: 8px;
  }

  span {
    vertical-align: middle;
  }
}
