// Main styles
html {
  font-size: 15px;
}

h1, h2 {
  font-weight: 400;
}

b {
  color: #000;
}

.page-title {
  margin-bottom: 50px;
  font-weight: 300;
}

.btn-caret::after {
  content: '';
  display: inline-block;
  padding-left: 17px;
  width: 7px;
  height: 7px;
  vertical-align: middle;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2012%207%22%20enable-background%3D%22new%200%200%2012%207%22%3E%3Cpath%20opacity%3D%22.8%22%20fill%3D%22none%22%20stroke%3D%22%23fff%22%20stroke-width%3D%221.5%22%20stroke-miterlimit%3D%2210%22%20d%3D%22m1%201l5%205%205-5%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  background-position: right
}

.btn-primary {
  svg {
    fill: #ffffff;
  }
}

// Tabs
.nav-tabs {
  margin-bottom: 30px;

  .nav-item + .nav-item {
    margin-left: 1px;
  }

  .nav-link {
    padding: 18px 35px;
    font-size: 16px;
    font-weight: 600;

    &.active {
      cursor: default;
    }

    &:not(.active){
      &:hover,
      &:focus {
        color: $link-color;
        background-color: #f5f5f5;
      }
    }
  }
}

// Accordion
.accordion {
  border-bottom: 1px solid #e4e4e4;

  &-item {
    border-top: 1px solid #e4e4e4;

    &-header {
      .btn-link {
        position: relative;
        padding: 25px 40px 25px 0;
        font-size: 24px;
        white-space: nowrap;
        color: #000;

        &:hover {
          text-decoration: none;

          &::after {
            background-color: #f2f2f2;
          }
        }

        &:focus {
          text-decoration: none;
        }

        &::after {
          content: '';
          position: absolute;
          top: 50%;
          right: 0;
          display: inline-block;
          width: 26px;
          height: 26px;
          margin-top: -11px;
          background: url("data:image/svg+xml,%3Csvg widht='12' height='8' viewBox='0 0 12 8' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M6 2.18L1.518 6.736a.88.88 0 0 1-1.258 0 .914.914 0 0 1 0-1.277L5.371.265a.88.88 0 0 1 1.258 0l5.11 5.193a.914.914 0 0 1 0 1.277.88.88 0 0 1-1.257 0L6 2.181z' fill='%23576472' fill-rule='nonzero'/%3E%3C/g%3E%3C/svg%3E") no-repeat center;
          border: 1px solid #DBE2E6;
          border-radius: 50%;
        }

        &.collapsed::after {
          transform: rotate(180deg);
        }
      }
    }

    &-body {
      padding-top: 5px;
      padding-bottom: 30px;
    }
  }
}

// Breadcrumb
.breadcrumb-wrapper {
  background-color: #f6f6f6;
  border-top: 4px solid $primary;
}

.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
  font-size: 12px;

  &-item {
    a, span {
      display: block;
      padding-top: 13px;
      padding-bottom: 13px;
      padding-right: 30px;
    }

    a {
      font-weight: 600;
      color: $body-color;
      background: url("data:image/svg+xml,%3Csvg viewBox='0 0 15 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cpath d='M13.968 22L.078.744A.484.484 0 0 1 .209.08a.463.463 0 0 1 .65.133l14.063 21.522c.105.16.105.37 0 .53L.86 43.787a.463.463 0 0 1-.65.133.484.484 0 0 1-.13-.664L13.968 22z' id='Path' fill='%23E1E1E1' fill-rule='nonzero'/%3E%3C/g%3E%3C/svg%3E") no-repeat center right;

      &:hover {
        text-decoration: none;
      }
    }

    & + .breadcrumb-item a {
      padding-left: 18px;
    }

    span {
      padding-left: 18px;
      color: #999999;
    }
  }
}

.main-content {
  padding-top: 50px;
  padding-bottom: 50px;
  min-height: calc(100vh - 302px);
}
