$font-family-sans-serif:    "Helvetica Neue", Helvetica, Arial, sans-serif;
$h1-font-size:              42px;
$h2-font-size:              36px;
$h3-font-size:              28px;
$h4-font-size:              22px;
$h5-font-size:              18px;
$h6-font-size:              15px;

$headings-color:          #333;

$body-color:              #535B63;
$link-color:              #0173c1;

$primary:                 #0063b0;
$topbarBg:                #1e3685;
$footerBg:                #e6ebec;

$text-muted:              #a5aeb3;

$border-radius-lg:          8px;


$navbar-padding-y:          10px;
$navbar-brand-padding-y:    5px;

$caret-vertical-align: middle;

$dropdown-spacer:                   0;
$dropdown-padding-y:                0;
$dropdown-bg:                     #2344a4;
$dropdown-border-width:             0;
$dropdown-border-radius:            0;
$dropdown-item-padding-y:           14px;
$dropdown-item-padding-x:           20px;
$dropdown-link-color:             #fff;
$dropdown-link-hover-color:       #fff;
$dropdown-link-hover-bg:          #2a4fb7;
$dropdown-link-active-bg:           $dropdown-link-hover-bg;

$input-btn-font-size:               16px;
$input-btn-padding-y:               14px;
$input-btn-padding-x:               25px;
$input-height-inner-quarter:        10px;
$input-height-inner-half:           20px;
$custom-select-indicator-padding:   15px;
$form-group-margin-bottom:          12px;

$nav-tabs-border-radius:            0;
$nav-tabs-border-color:           #cdd1d4;
$nav-tabs-link-active-border-color: $nav-tabs-border-color $nav-tabs-border-color transparent;
$nav-tabs-link-hover-border-color:  transparent transparent $nav-tabs-border-color;

$table-cell-padding:                20px 10px;
$table-cell-padding-sm:             10px;

$tooltip-bg:                      #2c2e3e;
$tooltip-margin:                    2px;
$tooltip-padding-y:                 8px;
$tooltip-padding-x:                 13px;

$modal-header-padding-y:              25px;
$modal-header-padding-x:              40px;
$modal-inner-padding:                 30px 40px;
$modal-content-border-radius:         4px;
